label {
    margin-bottom: unset;
}

.w-auto {
    width: auto !important;
}

.dataTables_wrapper .dataTables_paginate:not(#table_dataTable_paginate) {
    margin-top: 5px !important;
}

#btn-copy {
    padding: 0;
}

.import-btn {
    position: absolute;
    margin: 12px;
}

.plan-card {
    width: 16rem;
    text-align: center;
    cursor: pointer;
}

.plan-name {
    font-size: 18px;
    font-weight: bold;
    display: block;
    min-height: 54px;
}

.acc-qtd {
    font-size: 36px;
    font-weight: bold;
}

#file-input-group {
    display: none;
}

#custom-input-file {
    height: auto !important;
    line-height: inherit !important;
}

#upload {
    position: absolute;
    bottom: 45px;
}

#planListCard {
    overflow-y: scroll;
    max-height: 60vh;
}

.acc-list-btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
}

.acc-list-btn>i {
    line-height: unset;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

body {
    overflow-x: hidden !important;
}

.plan-paginate_button {
    height: 40px;
    width: 40px;
    margin: 0 1px;
    border-radius: 50%;
}

.plan-paginate_button.plan-current,
.plan-paginate_button.plan-current:hover {
    color: white !important;
    border: 1px solid #5873fe;
    background-color: #5873fe;
}

.plan-paginate_button.plan-page-start,
.plan-paginate_button.plan-page-end {
    background-color: #e6e6e6 !important;
}

.plan-more-prev,
.plan-more-next {
    color: #e6e6e6;
    margin: 0 5px
}

.pag-buttons-list {
    margin-top: 10px;
}

#tbodyOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo preto com 50% de transparência */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    z-index: 1000;
    /* Certifique-se de que a div esteja acima de outros elementos */
}

.sidebar-hide {
    padding-right: 0 !important;
}